
.dropdown-content {
    position: absolute;  /* Note, is dependent on parent .header being relative */
    right: 10px;
    visibility : hidden;

    width : 200px;
    border : 1px solid white;

    z-index: 1;
}

.dropdown-content ul {
    padding : 0;
    margin : 0;
}

.dropdown-content li {
    text-align: center;
    background-color : #337ab7;
    list-style-type: none;
    border : 1px solid white;
    display : block;
    text-decoration: none;
}

.dropdown-content a {
    color: white;
    text-align: center;

    font-weight : 1000px;
    padding : 20px 10px;
    display : block;
    text-decoration: none;
}

.header-hamburger-menu {
    position : absolute;   /* Note, is dependent on parent .header being relative */
    top : 15px;
    right : 15px;

    background-image : url('../images/menu.png');
    background-repeat : no-repeat;
    background-size : cover;
    background-color: transparent;
    width : 40px;
    height : 40px;
    border : none;
    text-align : right;
}

.dropdown-content {
    border : 1px solid red;
    -webkit-transition: .5s all;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;   /* After making media query, there will be no transition delay here, but non-touch screens will have delay */
}

#dropdown-menu:hover .dropdown-content {
    visibility: visible;
    border : 1px solid black;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}