
footer {
    width : 100%;
    height : 4rem;
    position: absolute;
    bottom : 0;
    background-color : rgb(150, 150, 150);
    padding : 1rem;
}

footer ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}